<h2 class="my-8 text-white text-4xl font-bold">Panel de administracion IRT (in real time)</h2>

<div id="limitContainer">
  {{!-- Form --}}
</div>

<div class="flex gap-8 max-w-full w-5/6">
  <div class="flex justify-center items-center gap-2 flex-wrap" id="productsContainer">
    {{!-- Products --}}
  </div>

  <div class="flex flex-col justify-start items-start gap-2 px-2 min-w-80" id="formContainer">
    <h4 class="text-white text-2xl text-center fixed">Agregar un producto</h4>
    <h5 class="text-gray-500 text-xs text-start fixed mt-10">(*) Campos obligatorios</h5>
    {{!-- Se renderiza el formulario en tiempo real --}}
  </div>
</div>

<div id="pagination">
  {{!-- Buttons --}}
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.2/socket.io.min.js"></script>
<script src="/js/main.js"></script>
