<!DOCTYPE html>
<html lang="es" class="dark">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="/favIcon.png" type="image/x-icon">
  <link rel="stylesheet" href="/style.css">
  <title>Artemisa-DB</title>
</head>

<body class="flex flex-col justify-between items-center h-screen w-screen bg-slate-900">
  {{{body}}}

  <footer class="justify-end">
    <h2 class="py-5 text-white">Muchas gracias. Patricio Pittana</h2>
  </footer>
  <script src="https://cdn.tailwindcss.com"></script>
</body>

</html>
